<mat-card class="tasks-container">
  <mat-list>
    <h3 mat-subheader>Tasks</h3>
    <div *ngFor="let task of tasks" [ngSwitch]="task.type">
      <mat-list-item *ngSwitchCase="'send'">
        <mat-icon mat-list-icon>cloud_upload</mat-icon>
        <h4 mat-line><b>{{ task.fileName }}</b></h4>
        <p mat-line>{{formatFileSize(task.fileSize)}} <b>To:</b> {{task.remoteName}}</p>
        <div [ngSwitch]="task.state">
          <div *ngSwitchCase="'inProgress'">
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="task.progress"
            ></mat-progress-bar>
            <p class="speed-label">{{ formatSpeed(task.speed) }}</p>
          </div>
          <div *ngSwitchCase="'finished'">
            <p class="state-label">Finished</p>
          </div>
          <div *ngSwitchCase="'waiting'">
            <p class="state-label">Waiting</p>
          </div>
          <div *ngSwitchCase="'rejected'">
            <p class="state-label">Rejected</p>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item *ngSwitchCase="'receive'">
        <mat-icon mat-list-icon>cloud_download</mat-icon>
        <h4 mat-line><b>{{ task.fileName }}</b></h4>
        <p mat-line>{{formatFileSize(task.fileSize)}} <b>From:</b> {{task.remoteName}}</p>
        <div [ngSwitch]="task.state">
          <div *ngSwitchCase="'inProgress'">
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="task.progress"
            ></mat-progress-bar>
            <p class="speed-label">{{ formatSpeed(task.speed) }}</p>
          </div>
          <div *ngSwitchCase="'finished'">
            <button mat-raised-button (click)="downloadFile(task.url, task.fileName)">
              <mat-icon>save_alt</mat-icon>
            </button>
          </div>
          <div *ngSwitchCase="'waiting'" class="two-button-div">
            <button mat-raised-button class="first-button" (click)="rejectFile(task)">
              <mat-icon>blocked</mat-icon>
            </button>
            <button mat-raised-button (click)="acceptFile(task)">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
          </div>
          <div *ngSwitchCase="'rejected'">
            <p class="state-label">Rejected</p>
          </div>
        </div>
      </mat-list-item>
    </div>
  </mat-list>
</mat-card>
