<mat-card class="tasks-container">
  <mat-list class="tasks-list-container">
    <h3 mat-subheader>Tasks</h3>
    <div *ngFor="let task of tasks" [ngSwitch]="task.type">
      <mat-list-item *ngSwitchCase="'send'">
        <mat-icon mat-list-icon>cloud_upload</mat-icon>
        <h4 mat-line><b>{{ task.fileName }}</b></h4>
        <p mat-line>{{formatFileSize(task.fileSize)}} <b>To:</b> {{task.remoteName}}</p>
        <div [ngSwitch]="task.state">
          <div *ngSwitchCase="'inProgress'" class="task-tools-div">
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="task.progress"
            ></mat-progress-bar>
            <button
              mat-raised-button
              (click)="abortTransfer(task)"
              matTooltip="abort file transferring"
              class="abort-button"
            >
              <mat-icon>cancel</mat-icon>
            </button>
            <p class="speed-label">{{ formatSpeed(task.speed) }}</p>
          </div>
          <div *ngSwitchCase="'finished'" class="task-tools-div">
            <button mat-button class="clear-button" (click)="clearTask(task)">
              <mat-icon>clear</mat-icon>
            </button>
            <p class="state-label">Finished</p>
          </div>
          <div *ngSwitchCase="'waiting'" class="task-tools-div">
            <button
              mat-raised-button
              (click)="cancelSend(task)"
              matTooltip="cancel file sending request"
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          <div *ngSwitchCase="'rejected'" class="task-tools-div">
            <button mat-button class="clear-button" (click)="clearTask(task)">
              <mat-icon>clear</mat-icon>
            </button>
            <p class="state-label">Rejected</p>
          </div>
          <div *ngSwitchCase="'aborted'" class="task-tools-div">
            <button mat-button class="clear-button" (click)="clearTask(task)">
              <mat-icon>clear</mat-icon>
            </button>
            <p class="state-label">Aborted</p>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item *ngSwitchCase="'receive'">
        <mat-icon mat-list-icon>cloud_download</mat-icon>
        <h4 mat-line><b>{{ task.fileName }}</b></h4>
        <p mat-line>{{formatFileSize(task.fileSize)}} <b>From:</b> {{task.remoteName}}</p>
        <div [ngSwitch]="task.state">
          <div *ngSwitchCase="'inProgress'" class="task-tools-div">
            <mat-progress-bar
              [color]="'primary'"
              [mode]="'determinate'"
              [value]="task.progress"
            ></mat-progress-bar>
            <button
              mat-raised-button
              (click)="abortTransfer(task)"
              matTooltip="abort file transferring"
              class="abort-button"
            >
              <mat-icon>cancel</mat-icon>
            </button>
            <p class="speed-label">{{ formatSpeed(task.speed) }}</p>
          </div>
          <div *ngSwitchCase="'finished'" class="task-tools-div">
            <button mat-button class="clear-button" (click)="clearTask(task)">
              <mat-icon>clear</mat-icon>
            </button>
            <button
              mat-raised-button
              (click)="downloadFile(task.url, task.fileName)"
              matTooltip="download file"
            >
              <mat-icon>save_alt</mat-icon>
            </button>
          </div>
          <div *ngSwitchCase="'waiting'" class="task-tools-div">
            <button
              mat-raised-button
              matTooltip="accept file transferring"
              (click)="acceptFile(task)"
            >
              <mat-icon>check_circle_outline</mat-icon>
            </button>
            <button
              mat-raised-button
              matTooltip="reject file transferring"
              (click)="rejectFile(task)"
              class="margin-button"
            >
              <mat-icon>not_interested</mat-icon>
            </button>
          </div>
          <div *ngSwitchCase="'rejected'" class="task-tools-div">
            <button mat-button class="clear-button" (click)="clearTask(task)">
              <mat-icon>clear</mat-icon>
            </button>
            <p class="state-label">Rejected</p>
          </div>
          <div *ngSwitchCase="'aborted'" class="task-tools-div">
            <button mat-button class="clear-button" (click)="clearTask(task)">
              <mat-icon>clear</mat-icon>
            </button>
            <p class="state-label">Aborted</p>
          </div>
        </div>
      </mat-list-item>
    </div>
  </mat-list>
</mat-card>
