<mat-card class="users-container">
  <mat-list class="users-list-container">
    <h3 mat-subheader>users</h3>
    <mat-list-item *ngFor="let user of users">
      <mat-icon mat-list-icon svgIcon="user-secret"></mat-icon>
      <h4 mat-line><b>{{user.name}}</b></h4>
      <input
        class="file-input"
        id="{{ 'fileInput' + user.id }}"
        type="file"
        (change)="send($event, user.id)"
      />
      <button
        mat-raised-button
        matTooltip="transfer file to"
        class="transfer-confirm"
        (click)="triggerFileInput(user.id)"
        disabled="{{ user.isTransferring }}"
      >
        <mat-icon class="transfer-btn">send</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>
</mat-card>
