@import "../app.common";

.users-container {
  width: calc(100% - 32px);
  height: calc(100% - 32px);

  .users-list-container {
    overflow-y: auto;
    max-height: 100%;
    @include scroll-style;
  }
}

.transfer-btn {
  @include md-icon-size(20px);
}

.file-input {
  display: none;
}
