<div class="login-container">
  <mat-card class="login-panel">
    <div></div>
    <mat-form-field class="login-input">
      <input matInput type="text" placeholder="Please input your name" [(ngModel)]="name">
      <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="login-confirm"
      (click)="login()"
    >Confirm</button>
  </mat-card>
</div>
