<!--<app-login></app-login>-->

<mat-grid-list cols="3" rowHeight="100px" gutterSize="0" class="app-container">
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="3">
    <app-me></app-me>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="2">
    <app-users></app-users>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="6">
    <app-files></app-files>
  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="1"
    [rowspan]="5">
    <app-jobs></app-jobs>
  </mat-grid-tile>
</mat-grid-list>

<!--<router-outlet></router-outlet>-->
